<!DOCTYPE html>
<html>
<head>
    <title>Patient Health Records</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Diagnosis Results</h1>
    <table>
        <thead>
            <tr>
                <th>Patient ID</th>
                <th>Disease</th>
                <th>Precautions</th>
                
            </tr>
        </thead>
        <tbody>
            {% for row in results %}
                <tr>
                    <td>{{ row.patient_id }}</td>
                    <td>{{ row.Disease}}</td>
                    <td>{{ row.cure }}</td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
